<body>
<div id="container">
<div id="banner"><img src=“gbr.jpg" /></div>
<div id="nav">
<span><a href="home.htm">Beranda</a></span>
<span><a href=“kontak.htm">Kontak</a></span>
</div>
<div id=“content">
<h1>Uji Coba Hyperlink</h1>
<p>Teks yang berisi link</p>
</div>
<div id=“footer”>Iya, betul. Cuman uji coba.</div>
Link web lain saya: <a href="file:///C:/Users/ASUS/Documents/Uji%20Coba%20CSS%20positioning/Uji%20Coba%20CSS%20positioning%205.html">klik
</div>
</body>